aside{
    max-width: 80rem;
    margin: 2rem auto 1rem;
}
aside ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* valeurs auto 4 fois */
    
   
}
aside ul li{
    text-align: center;
    line-height: 10vh;
}
aside ul li:first-child{
    background-color: var(--color-secondary);
    order: 1;
}
aside ul li:nth-child(2){
    background-color: var(--color-primary);
    color: #fff;
   

}
aside ul li:nth-child(3){
    background-color: var(--color-other);
    color: #000;
}
aside ul li:last-child{
    background-color: var(--color-last);
    color: #222;
    
}
aside h3{
    line-height: 4.5rem;
    font-weight: 300;
    text-align: center;
}
aside fieldset{
    padding-top: 2rem;
    width: auto;
    border: solid .1rem #ac6a35;
    border-radius: .8rem;
}
aside fieldset legend{
    padding: 2rem 0.9rem;
}
aside input, aside label, aside textarea{
    display: block;
    width: 100%;
    line-height: 4.2rem;
    padding: .4rem;
    
    
}
aside input[type="text"], aside textarea{
    border: solid .1rem #d0d394;
    border-radius: .4rem;
}
aside input[type="text"]:focus, aside textarea:focus{
    outline: 0.1rem solid transparent;
    box-shadow: 0 0 1.0rem  #db0ab8;
}
aside textarea{
    margin-bottom: 1rem;
}
aside button[type="submit"], aside input[type="submit"]{
    display: inline-block;
    background-color: #120a1b;
    color: #fff;
    line-height: 4.5rem;
    padding: 0 .4rem;
    border-radius: .4rem;
    width: 20.0rem;
    cursor: pointer;
}
aside button[type="submit"]::before{
    content: url(../asset/edit.svg);
    vertical-align: -.5rem;
}

/* mobile */
@media screen and (max-width: 70rem){
    main{
        margin: 1%;
    }
    aside ul{
        grid-template-columns: repeat(2, 1fr);
    }
    header h1{
        font-size: 2rem;
    }
    aside{
        margin: 0 1%;
    }
    header h1 span{
        display: none;
    }

}
@media screen and (orientation: landscape){
    aside{
        margin: 0 auto;
    }
    aside ul{
        grid-template-columns: repeat(4, 1fr);
    }
    header h1{
        font-size: xx-large;
    }
    header h1 span{
        display: inline-block;
    }

}